!!! 5
%html
  %head
    %title App created with statics

    %meta{name: "description", content: "Site description"}
    %meta{name: "keywords", content: "website, statics"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    %meta{property: "og:site_name", content: "example.com"}
    %meta{property: "og:title", content: "Site created with statics"}
    %meta{property: "og:description", content: "Site description"}
    %meta{property: "og:type", content: "website"}
    %meta{property: "og:url", content: "https://example.com/"}
    %meta{property: "og:title", content: "App created with statics"}

    = stylesheet css_main_path
  %body
    = render :nav
    = capture_haml(&block)
    = render :footer
